<div id="agibalovPortfolioMenu" class="agibalov-portfolio-menu">
    <div id="agibalovPortfolioMenuContainer">
        <div class="container">
            
            <div class="projects-list-container">
                <ul id="projectsNameList" class="projects-name_list" style="transform: translate3d(0px, -1000%, 0px);">
                    <li class="projects-name_list-item">
                        <div class="projects-name projects-name_landscaped-image">
                            <span class="projects-name_text"></span>
                            <span class="projects-name_descrition"></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name projects-name_landscaped-image">
                            <span class="projects-name_text">TOMAGO</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">2017-2018</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name">
                            <span class="projects-name_text">NALIBOKI</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">2018</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name projects-name_landscaped-image">
                            <span class="projects-name_text">GLIVI</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">2017</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name">
                            <span class="projects-name_text">ЖИЛОЙ ДОМ</span>
                            <span class="projects-name_descrition">МИНСК, УЛ. ЗОЛОТАЯ <span class="projects-name_descrition-dates">2012</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name projects-name_landscaped-image">
                            <span class="projects-name_text">EZE</span>
                            <span class="projects-name_descrition">БЛИЗ НИЦЦЫ</span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name">
                            <span class="projects-name_text">NEW STUDIO</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">2007/2010</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name projects-name_landscaped-image">
                            <span class="projects-name_text">ЖИЛОЙ ДОМ</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">2006/2008</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name">
                            <span class="projects-name_text">СИРЕНЕВАЯ ЛУНА</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">2002</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name projects-name_landscaped-image">
                            <span class="projects-name_text">SCISSORS</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">1984</span></span>
                        </div>
                    </li>
                    <li class="projects-name_list-item">
                        <div class="projects-name">
                            <span class="projects-name_text">СТЕКЛОЛЮКС</span>
                            <span class="projects-name_descrition">МИНСК, <span class="projects-name_descrition-dates">1990</span></span>
                        </div>
                    </li>
                </ul>
                <ul id="projectsPhotoList" class="projects-photo_list">
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="agibalov-project-page-stecloluks.html">
                            <img class="projects-photo_img" src="img/projects/01.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img projects-photo_img-landscape" src="img/projects/02.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="agibalov-project-page-violetmoon.html">
                            <img class="projects-photo_img" src="img/projects/03.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img  projects-photo_img-landscape" src="img/projects/04.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img" src="img/projects/05.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img  projects-photo_img-landscape" src="img/projects/06.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img" src="img/projects/07.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img  projects-photo_img-landscape" src="img/projects/08.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img" src="img/projects/09.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="#">
                            <img class="projects-photo_img  projects-photo_img-landscape" src="img/projects/10.png">
                        </a>
                    </li>
                    <li class="projects-photo_list-item">
                        <a class="projects-photo_link" href="agibalov-project-page-varietta.html">
                            <img class="projects-photo_img  projects-photo_img-landscape" src="img/projects/10.png">
                            <span class="projects-photo_img-text">varietta</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container scroll-sign">
        <i class="icon icon-mouse-scroll"></i>
    </div>
</div>