<header class="header">
    <div class="container clearfix">
        <a class="logo" href="/">
            <span class="logo-normal"></span>
            <span class="logo-menu-opened"></span>
            <span class="logo-agibalov"></span>
        </a>
        <nav id="mainHeaderNav" class="nav">
            <ul class="nav-list">
                <li class="nav-list-item nav-search">
                    <div id="searchBlock" class="search-block">
                        <input id="searchInput" class="search-input" type="text">
                        <a class="search-toggle-btn" href="#"></a>
                    </div>
                </li>
                <li class="nav-list-item nav-about">
                    <a class="nav-link" href="about.html">about</a>
                </li>
                <li class="nav-list-item nav-lang">
                    <span class="active-lang">ru</span><i class="icon icon-menu-open-arrow"></i>
                    <a class="nav-link" href="#">en</a>
                </li>
                <li class="nav-list-item nav-menu">
                    <a class="nav-menu-btn hamburger" href="#">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>