<div id="mainMenu" class="main-menu">
    <div id="mainMenuBgScene" class="main-menu-bg-scene" data-hover-only="true">
        <div class="main-menu-bg-text main-menu-bg-text_0" data-depth="0.6"><span>G</span></div>
        <div class="main-menu-bg-text main-menu-bg-text_1" data-depth="0.8"><span>E</span></div>
        <div class="main-menu-bg-text main-menu-bg-text_2" data-depth="0.4"><span>S</span></div>
        <div class="main-menu-bg-text main-menu-bg-text_3" data-depth="0.6"><span>T</span></div>
        <div class="main-menu-bg-text main-menu-bg-text_4" data-depth="0.4"><span>U</span></div>
        <div class="main-menu-bg-text main-menu-bg-text_5" data-depth="0.8"><span>S</span></div>
    </div>
    <div id="mainMenuContainer" class="container">

        <nav class="main-menu-nav">
            <ul class="main-menu-list">
                <li class="main-menu-list-item main-menu-list-item_primary main-menu-list-item_0">
                    <a href="" class="main-menu-link"><span>Креативные индустрии</span></a>
                </li>
                <li class="main-menu-list-item main-menu-list-item_primary  main-menu-list-item_1">
                    <a href="" class="main-menu-link"><span>Искусство как среда</span></a>
                </li>
                <li class="main-menu-list-item  main-menu-list-item_2">
                    <a href="" class="main-menu-link"><span>Лев Агибалов</span></a>
                    <ul class="main-menu-sub-list">
                        <li class="main-menu-sub-list-item">
                            <a href="biography-agibalov.html" class="main-menu-link">Biography</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="agibalov-intro.html" class="main-menu-link">Intro</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="agibalov-main-projects.html" class="main-menu-link">Main projects</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="agibalov-project-page-varietta.html" class="main-menu-link">Varietta</a>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-item  main-menu-list-item_3">
                    <a href="" class="main-menu-link"><span>Борис Школьников</span></a>
                    <ul class="main-menu-sub-list">
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Biography</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Intro</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Main projects</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Varietta</a>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-item  main-menu-list-item_4">
                    <a href="" class="main-menu-link"><span>Юрий Градов</span></a>
                    <ul class="main-menu-sub-list">
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Biography</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Intro</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Main projects</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Varietta</a>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-item  main-menu-list-item_5">
                    <a href="" class="main-menu-link"><span>От Шнеерсона к Шнеерсону</span></a>
                    <ul class="main-menu-sub-list">
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Biography</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Intro</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Main projects</a>
                        </li>
                        <li class="main-menu-sub-list-item">
                            <a href="" class="main-menu-link">Varietta</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <dic class="container scroll-sign">
        <i class="icon icon-mouse-scroll"></i>
    </dic>
</div>